<div class="row">
	<div class="col-md-12">
		<h2 ng-init="showNewQuest=false">
			Quests 
			<button type="button" class="btn btn-primary" ng-click="showNewQuest=true">
				<span class="fa fa-plus"></span>
			</button>
		</h2>
		<form class="form-inline" ng-show="showNewQuest">
			<div class="form-group">
				<input type="text" class="form-control" ng-model="newQuest.title" placeholder="Title">
			</div>
			<div class="form-group">
				<input type="number" class="form-control" ng-model="newQuest.estimatedTime" placeholder="Estimated Time">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" ng-model="newQuest.tags" placeholder="Tags">
			</div>
			<div class="form-group">
				<label for="questParent">Quest Parent</label>
				<select ng-model="newQuest.parent">
					<option ng-repeat="quest in quests" value="{{quest.questId}}">
						{{quest.title}}
					</option>
				</select>
			</div>
			<button type="button" class="btn btn-default" ng-click="showNewQuest=false; save(newQuest)">Add</button>
		</form>
			
		</div>
		<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th></th>
					<th>ID</th>
					<th>Title</th>
					<th>Time</th>
					<th>Tags</th>
					<th>Parent</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td colspan="5"></td>
				</tr>
			</tfoot>
			<tbody>
				<tr ng-repeat="quest in quests">
					<td ng-init="editContent=false">
						<button 
							type="button" 
							class="btn btn-link" 
							ng-show="!editContent" 
							ng-click="editContent=true">
							<span class="fa fa-edit"></span>
						</button>
						<button
							type="button" 
							class="btn btn-link" 
							ng-show="editContent" 
							ng-click="editContent=false; update(quest)">
							<span class="fa fa-check"></span>
						</button>
						<button 
							type="button" 
							class="btn btn-link" 
							ng-click="editContent=false"
							ng-show="editContent">
							<span class="fa fa-close"></span>
						</button>
					</td>
					<td>{{quest.questId}}</td>
					<td>
						<span ng-show="!editContent">{{quest.title}}</span>
						<input 
							ng-show="editContent" 
							type="text" 
							value="{{quest.title}}" 
							ng-model="quest.title">
						</input>
					</td>
					<td>
						<span ng-show="!editContent">{{quest.estimatedTime}}</span>
						<input 
							ng-show="editContent" 
							type="text" 
							value="{{quest.estimatedTime}}"
							ng-model="quest.estimatedTime">
						</input>
					</td>
					<td ng-init="showNewTag=false">
						<button 
							type="button" 
							class="btn btn-small btn-info" 
							ng-click="showNewTag=true"
							ng-hide="showNewTag">
							<span class="fa fa-plus"></span>
						</button>
						<span  ng-show="showNewTag">
							<input type="text" ng-model="newTag"></input>
							<button 
								type="button" 
								class="btn btn-link" 
								ng-click="addTag(quest, newTag); showNewTag=false">
								<span class="fa fa-check"></span>
							</button>
							<button 
								type="button" 
								class="btn btn-link" 
								ng-click="showNewTag=false">
								<span class="fa fa-close"></span>
							</button>	
						</span>
						<p 
							ng-repeat="tag in quest.tags" 
							ng-show="!editContent">
							{{tag}}
							<button 
								type="button" 
								class="btn btn-link" 
								ng-click="removeTag(quest.tag, $index);">
								<span class="fa fa-close text-danger"></span>
							</button>
						</p>
						<!-- <input ng-show="editContent" type="text" value="{{quest.tag}}"></input> -->
					</td>
					<td>
						<p
							ng-repeat="child in quest.children" 
							ng-show="!editContent">
							{{child}}
						</p>
						<!-- <input ng-show="editContent" type="text" value="{{quest.children}}"> 
						</input> -->
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>