<div>
	<div class="row">
		<div class="col-md-4 page-heading" ng-init="assignedTech = 'Che'">
			
				<div class="btn-group" dropdown is-open="status.isopen" >
					<button
						type="button" 
						class="btn btn-link dropdown-toggle" 
						dropdown-toggle 
						ng-disabled="disabled">
						<h1 class="page-title text-fantasy" >
							<span class="fa fa-leanpub" style="padding-right: 10px;">
							</span>
							Stories
						</h1>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="" ng-click="$parent.assignedTech = ''">All</a></li>
						<li ng-repeat="tech in techs">
							<a href="" ng-click="$parent.assignedTech = tech.name">
								<span class="fa fa-user"></span>&nbsp;&nbsp;{{tech.name}}
							</a>
						</li>
					</ul>
				</div>
		</div>
		<div class="col-md-4">
			<div class="pull-right" >
				
			</div>
		</div>
	</div>
	<div class="ticket-list col-md-8">
		<accordion close-others="true">
			<accordion-group ng-repeat="story in stories | filter:{tech:assignedTech}" is-open="story.expanded">
				<accordion-heading>
					<div class="ticket-priority pull-left">
						<div ng-class="{'ticket-priority-1': story.priority == '1', 'ticket-priority-2': story.priority == '2', 'ticket-priority-3': story.priority == '3'}">
						</div>
					</div>
					<p class="lead">
						<a href="#/stories/view/{{story.storyId}}" class="text-success">
							<span>#{{story.storyId}}</span> 
						</a>
						{{story.title}} for 
						<span class="text-warning">{{story.contact}}</span> in {{story.department}} 
						<span class="pull-right fa" ng-class="{'fa-angle-down': !story.expanded, 'fa-angle-up': story.expanded}"></span>
						<small class="pull-right ticket-tech">by {{story.tech}}</small>
					</p>
				</accordion-heading>
				<h4 class="text-fantasy">Quests</h4>
				<ul class="list-unstyled">
					<li class="ticket-chapters" ng-repeat="chapter in story.timeline" ng-init="chapter.showContent = false">
						<p class="">
							<span ng-hide="chapter.type != 'quest'">
								<span 
									ng-hide="chapter.complete == true"
									class="btn tickets-quest-todo">
									<span 
										class="fa"
										ng-click="chapter.complete = true" 
										ng-class="{'fa-circle-thin': chapter.complete == false}">
									</span>
								</span>
								<span 
									class="fa" 
									ng-hide="chapter.complete == false"
									ng-class="{'fa-check': chapter.complete == true}">
								</span>
							</span>
							<span 
								class="fa text-warning"
								ng-hide="chapter.type == 'quest'"
								ng-class="{'fa-envelop-o': chapter.type == 'email', 'fa-phone': chapter.type == 'call'}">
							</span>
							{{chapter.title}}
							<button
								type="button"
								ng-click="chapter.showContent = !chapter.showContent"
								class="btn btn-link"
								ng-show="chapter.content.length > 0">
								<span class="fa" ng-class="{'fa-angle-up': chapter.showContent, 'fa-angle-down': !chapter.showContent}"></span>
							</button>
						</p>
						<blockquote class="text-left-indent" ng-show="chapter.showContent">{{chapter.content}}</blockquote>
					</li>
				</ul>
			</accordion-group>
		</accordion>
	</div>
</div>