<ul class="row landing-buttons list-unstyled">
	<li class="">
		<a href="#/stories">
			<span class="fa fa-book"> </span>
			<span class="fable-menu-option">Stories</span>
		</a>
	</li>
	<li class="">
		<a href="#/assets">
			<span class="fa fa-laptop"> </span>
			<span class="fable-menu-option">Assets</span>
		</a>
	</li>
	<li class="">
		<a href="#/kb">
			<span class="fa fa-graduation-cap"></span>
			<span class="fable-menu-option">Knowledge Base</span>
		</a>
	</li>
	<li class="">
		<a href="#/quotes">
			<span class="fa fa-usd"></span>
			<span class="fable-menu-option">Quotes</span>
		</a>
	</li>
	<li class="">
		<a href="#/contacts">
			<span class="fa fa-group"></span>
			<span class="fable-menu-option">People</span>
		</a>
	</li>
</ul>