<div class="row">
	<div class="btn-group-justified btn-group admin-nav">
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-success" ng-click="showQuests=!showQuests">
				<span class="fa fa-leaf"></span>&nbsp;&nbsp;
				Quests
			</button>
		</div>
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-success" ng-click="showStories=!showStories">
				<span class="fa fa-book"></span>&nbsp;&nbsp;
				Stories
			</button>
		</div>
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-success" ng-click="showUnits=!showUnits">
				<span class="fa fa-users"></span>&nbsp;&nbsp;
				Units
			</button>
		</div>
	</div>
	<div class="btn-group-justified btn-group">
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-success" ng-click="showPeople=!showPeople">
				<span class="fa fa-user"></span>&nbsp;&nbsp;
				People
			</button>
		</div>
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-success" ng-click="showUpload=!showUpload">
				<span class="fa fa-cloud-upload"></span>&nbsp;&nbsp;
				Import
			</button>
		</div>
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-success" ng-click="showSearch=!showSearch">
				<span class="fa fa-search"></span>&nbsp;&nbsp;
				Search
			</button>
		</div>
	</div>
	<div class="btn-group-justified btn-group">
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-warning" ng-hide="loggedIn()" ng-click="showLogin=!showLogin">
				<span class="fa fa-lock"></span>&nbsp;&nbsp;
				Login
			</button>
			<button type="button" class="btn btn-success" ng-show="loggedIn()" ng-click="logout(); showLogin=true;">
				<span class="fa fa-check"></span>&nbsp;&nbsp;
				Logout
			</button>
		</div>
	</div>
	<div class="col-md-12">
		<div ng-show="showLogin"
			class="animated" 
			ng-class="{fadeOutLeft: !showLogin, fadeInUp: showLogin}">
			<h2>
				Login
			</h2>
			<form class="form-inline" ng-submit="login(fableUser);" novalidate>
				<div class="form-group">
					<input type="text" class="form-control" ng-model="fableUser.username" placeholder="Username">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" ng-model="fableUser.password" placeholder="Password">
				</div>
				<button type="submit" class="btn btn-primary">
					Login
				</button>
			</form>
		</div>
		<!-- <div ng-show="showUpload"
			class="animated"
			ng-class="{fadeOutLeft: !showUpload, fadeInUp: showUpload}"
			ng-init="showUpload=false">
			<h2>Import</h2>
			<input type="file" nv-file-select uploader="uploader"/><br/>
            <p ng-repeat="item in uploader.queue">
                <button ng-click="item.upload()" type="button" class="btn btn-success">Import</button>
                <span ng-bind="item.file.name"></span>
                <span class="btn btn-link text-danger" ng-click="item.remove()">x</span><br/>
            </p>
            <p ng-if="uploadedFile">
            	<span class="fa fa-file-text-o"></span>&nbsp;
            	<a href="uploads/{{uploadedFile.uuid}}/file/{{uploadedFile.fileName}}">{{uploadedFile.fileName}}</a>
            </p>
		</div> -->
		<div ng-show="showSearch" 
			class="animated" 
			ng-class="{fadeOutUp: !showSearch, fadeInDown: showSearch}" 
			ng-init="showSearch=false">
			<div class="row">
				<div class="col-md-4">
					<br><br>
					<form class="form">
						<div class="form-group">
							<div class="input-group">
								<input type="text" class="form-control" ng-model="searchTerm" placeholder="">
								<div class="input-group-addon">
									<span class="fa fa-search"></span>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div ng-show="showQuests" 
			class="animated" 
			ng-class="{fadeOutLeft: !showQuests, fadeInUp: showQuests}" 
			ng-init="showQuests=false">
			<div class="row">
				<div class="col-md-4">
					<h2 ng-init="showNewQuest=false; showUpdateQuestButton=false;">
						Quests
						<button type="button" class="btn btn-primary" ng-click="newQuest={}; showNewQuest=true;">
							<span class="fa fa-plus"></span>
						</button>
					</h2>
					<form class="form" ng-show="showNewQuest">
						<div class="form-group">
							<input type="text" class="form-control" ng-model="newQuest.title" placeholder="Title">
						</div>
						<div class="form-group">
							<input type="number" class="form-control" ng-model="newQuest.estimatedTime" placeholder="Estimated Time">
						</div>
						<div class="form-group">
							<ui-select 
								multiple 
								tagging
								tagging-label="&nbsp;<span class='fa fa-comment-o'><span>"
								ng-model="newQuest.tags" 
								theme="select2"
								style="width: 400px;">
								<ui-select-match placeholder="Select Tags...">{{$item}}</ui-select-match>
								<ui-select-choices repeat="tag in tags | filter:$select.search">
									<div ng-bind-html="tag | highlight: $select.search"></div>
								</ui-select-choices>
							</ui-select>
						</div>
						<div class="form-group">
							<ui-select 
								multiple 
								ng-model="newQuest.children" 
								theme="select2"
								style="width: 400px;">
								<ui-select-match placeholder="Select Quests...">{{$item.title}}</ui-select-match>
								<ui-select-choices repeat="quest._id as quest in quests | propsFilter: {title: $select.search, tags: $select.search}">
									<div ng-bind-html="quest.title | highlight: $select.search"></div>
								</ui-select-choices>
							</ui-select>
						</div> 
						<button 
							type="button" 
							ng-if="!showUpdateQuestButton"
							class="btn btn-default" 
							ng-click="showNewQuest=false; saveQuest(newQuest);">
							Add
						</button>
						<button 
							type="button" 
							class="btn btn-default" 
							ng-if="showUpdateQuestButton"
							ng-click="updateQuest(newQuest); showUpdateQuestButton=false; showNewQuest=false;">
							Update
						</button>
						<button type="button" class="btn btn-danger" ng-click="showNewQuest=false; showUpdateQuestButton=false;">x</button>
					</form>	
				</div>
			</div>
			<div class="row">
				<div class="col-md-4" ng-repeat="quest in quests">
					<div class="box">
						<div class="pull-right">
							<button 
								type="button" 
								class="btn btn-link" 
								ng-click="$parent.showUpdateQuestButton=true; $parent.newQuest=quest; $parent.showNewQuest=true;">
								<span class="fa fa-edit text-warning"></span>
							</button>
							<button type="button" class="btn btn-link" ng-click="$parent.removeQuest(quest)">
								<span class="fa fa-close text-danger"></span>
							</button>
						</div>
						<h4>
							{{quest.title}}
						</h4>
						<p><span class="fa fa-clock-o"></span>&nbsp;{{quest.estimatedTime}}</p>
						<p>
							<span class="fa fa-tags"></span>&nbsp;
							<span ng-repeat="tag in quest.tags">
								{{tag}}<span ng-show="!$last">,&nbsp;</span>
							</span>
						</p>
						<ol>
							<li ng-repeat="questTask in quest.children">{{questTask.title}}</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<div ng-show="showStories" 
			class="animated" 
			ng-class="{fadeOutLeft: !showStories, fadeInUp: showStories}" 
			ng-init="showStories=false">
			<div class="row">
				<h2 ng-init="showNewStory=false">
					Stories
					<button type="button" class="btn btn-primary" ng-click="showNewStory=true">
						<span class="fa fa-plus"></span>
					</button>
				</h2>
				<form class="col-sm-4" ng-show="showNewStory">
					<div class="form-group">
						<ui-select 
							multiple 
							ng-model="newStory.questArray" 
							theme="select2" 
							style="width: 100%">
							<ui-select-match placeholder="Select quests...">{{$item.title}}</ui-select-match>
							<ui-select-choices repeat="quest in quests | propsFilter: {title: $select.search, tags: $select.search}">
								<span ng-bind-html="quest.title | highlight: $select.search"></span>
							</ui-select-choices>
						</ui-select>
					</div>
					<div class="form-group">
						<ui-select 
							ng-model="newStory.hero" 
							theme="select2" 
							style="width: 100%">
							<ui-select-match placeholder="Choose a hero...">{{$select.selected.name}}</ui-select-match>
							<ui-select-choices repeat="hero._id as hero in people | filter: {role: 'hero'} | propsFilter: {name: $select.search}">
								<span ng-bind-html="hero.name | highlight: $select.search"></span>
							</ui-select-choices>
						</ui-select>
					</div>
					<div class="form-group">
						<ui-select 
							ng-model="newStory.champion" 
							theme="select2" 
							style="width: 100%">
							<ui-select-match placeholder="Choose a champion...">{{$select.selected.name}}</ui-select-match>
							<ui-select-choices repeat="champion._id as champion in people | filter: {role: 'champion'} | propsFilter: {name: $select.search}">
								<span ng-bind-html="champion.name | highlight: $select.search"></span>
							</ui-select-choices>
						</ui-select>
					</div>
					<div class="form-group">
						<ui-select 
							multiple 
							ng-model="newStory.contacts" 
							theme="select2" 
							style="width: 100%">
							<ui-select-match placeholder="Select contacts...">{{$item.name}}</ui-select-match>
							<ui-select-choices repeat="person._id as person in people | propsFilter: {name: $select.search, role: $select.search} | filter: {status: 'Active'}">
								<div ng-bind-html="person.name | highlight: $select.search"></div>
								<small>
									role: {{person.unit.realm}}
								</small>
							</ui-select-choices>
						</ui-select>
					</div>
					<div class="form-group">
						<ui-select 
							ng-model="newStory.unit" 
							theme="select2" 
							style="width: 100%">
							<ui-select-match placeholder="Select a realm...">{{$select.selected.realm}}</ui-select-match>
							<ui-select-choices repeat="unit._id as unit in units | propsFilter: {realm: $select.search, land: $select.search}">
								<span ng-bind-html="unit.realm | highlight: $select.search"></span>
								<smalll class="text-muted">{{unit.land}}</small>
							</ui-select-choices>
						</ui-select>
					</div>
					<button type="button" class="btn btn-default btn-block" ng-click="showNewStory=false; saveStory(newStory)">Add</button>
					<button type="button" class="btn btn-danger btn-block" ng-click="showNewStory=false;">Cancel</button>
				</form>
			</div>
			<div class="row">
				<div class="ticket-list col-md-12">
					<accordion close-others="true">
						<accordion-group ng-repeat="story in stories | filter: searchTerm" is-open="story.expanded" ng-init="getCurrentChapter(story)">
							<accordion-heading>
								<div class="row">
									<div class="ticket-priority">
										<div ng-class="{'ticket-priority-1': story.priority == '1', 'ticket-priority-2': story.priority == '2', 'ticket-priority-3': story.priority == '3'}">
										</div>
									</div>
									<div class="col-sm-1 text-center hidden-xs story-left-col">
										<p>
											<a href="#/stories/view/{{story._id}}" class="text-success">
												<span>#{{story._id}}</span> 
											</a>	
										</p>
										<p class="fa fa-shield fa-3x"></p>
										<p>
											<span class="ticket-tech">{{story.hero.name}}</span>
										</p>
									</div>
									<div class="col-xs-12 col-sm-10 story-center-col">
										<p class="story-contact-info">
											<span class="text-warning story-contact">{{story.contacts[0].name}}</span>
											<span class="fa story-priority" ng-class="{'fa-certificate': story.priority == '1'}"></span>
											<br>
											<span class="text-muted">from {{story.contacts[0].unit.realm}}</span>
											&nbsp;
											<span 
												class="fa fa-phone visible-xs text-muted" 
												ng-if="story.contacts[0].phone">
												&nbsp;{{story.contacts[0].phone}}	
											</span>
											&nbsp;
											<span 
												class="fa fa-map-marker visible-xs text-muted" 
												ng-if="story.contacts[0].location">
												&nbsp;{{story.contacts[0].location}}
											</span>
										</p>
										<p class="hidden-xs">needs</p>
										<p class="story-title">
											<span class="fa fa-book">
												{{story.title}}
											</span>
											&nbsp;&nbsp;
											<span class="fa fa-clock-o text-warning">
												{{getTotalEstimatedTime(story.timeLine)}} min
											</span>
										</p>	
										<p class="story-chapter">
											<span class="fa fa-exclamation-circle">&nbsp;{{story.lastChapter.title}}</span>
											<span class="pull-right hidden story-expanded" ng-class="{'story-collapsed': story.expanded}">›</span>
										</p>
									</div>
									<div class="col-sm-1 hidden-xs story-right-col">
										<p>
											<span 
												class="fa fa-phone" 
												ng-if="story.contacts[0].phone">
												&nbsp;{{story.contacts[0].phone}}&nbsp;	
											</span>
										</p>
										<p>
											<span 
												class="fa fa-envelope-o" 
												ng-if="story.contacts[0].email">
												&nbsp;{{story.contacts[0].email.replace('fiu.edu', 'FIU')}}&nbsp;
											</span>
										</p>
										<p>
											<span 
												class="fa fa-map-marker" 
												ng-if="story.contacts[0].location">
												&nbsp;{{story.contacts[0].location}}&nbsp;
											</span>
										</p>
									</div>
								</div>
							</accordion-heading>
							<h4 class="chapter-menu">
								<!-- Chapters&nbsp; -->
								<span class="btn fa fa-phone add-chapter" ng-click="addEntry('call', story)">
								</span>
								<span class="btn fa fa-comment add-chapter" ng-click="addEntry('face2face', story)">
								</span>
								<span class="btn fa fa-envelope-o add-chapter" ng-click="addEntry('email', story)"></span>
								<!-- <span class="btn text-success fa fa-edit add-chapter" ng-click="addEntry('note', story)"></span> -->
								<span class="pull-right">
									<span class="btn fa fa-trash" ng-click="removeStory(story)"></span>
								</span>
							</h4>
							<form class="col-sm-4" ng-show="showNewChapter">
								<div class="form-group">
									<input type="text" class="form-control" ng-model="story.newChapter.title" placeholder="Subject">
								</div>
								<div class="form-group">
									<textarea class="form-control" ng-model="story.newChapter.content" placeholder="Contents">
									</textarea>
								</div>
								<button 
									type="button" 
									class="btn btn-default btn-block" 
									ng-click="addChapter(story)">Add</button>
								<button 
									type="button" 
									class="btn btn-danger btn-block" 
									ng-click="cancelEntry(story)">Cancel</button>
									<br>
									<br>
							</form>
							<ul class="list-unstyled story-timeline">
								<li class="ticket-chapters" 
									ng-class="{'story-questline': chapter.entryType == 'Questline'}" 
									ng-repeat="chapter in story.timeLine" 
									ng-init="chapter.showContent = false; chapter.showButtons=false; chapter.showStrikeThrough=false"
									ng-click="selectChapter(chapter, story)"
									ng-swipe-left="showChapterButtons(chapter)"
									ng-swipe-right="hideChapterButtons(chapter, story)">
									<div class="pull-left ">
										<div>
											<span 
												ng-if="chapter.entryType != 'Quest'"
												class="fa text-warning chapter-status"
												ng-class="{'fa-envelope-o': chapter.entryType == 'email', 'fa-phone': chapter.entryType == 'call', 'fa-comment': chapter.entryType == 'face2face', 'hidden': chapter.entryType == 'Questline'}">
											</span>
											<span 
												ng-if="chapter.entryType == 'Quest'"
												class="fa chapter-status" 
												ng-if="chapter.status != 'removed'"
												ng-class="{'fa-check-circle': chapter.completedBy != undefined, 'fa-circle-thin': chapter.completedBy == undefined, 'text-success': chapter.completedBy != undefined }">
											</span>
											<span 
												class="fa fa-times-circle chapter-status text-muted" 
												ng-if="chapter.status == 'removed' && chapter.entryType == 'Quest'">
											</span>
											<span class="chapter-text" ng-class="{'text-muted': chapter.status == 'removed'}">
												<span class="chapter-title" ng-if="chapter.status != 'removed'">{{chapter.title}}</span>
												<s ng-if="chapter.status == 'removed'" >{{chapter.title}}</s>
												<br>
												<span class="fa fa-clock-o text-warning" ng-if="chapter.entryType == 'Quest'">
													&nbsp;{{chapter.details.estimatedTime}} min&nbsp;
												</span>
											</span>
										</div>
										
									</div>
									<div 
										class="chapter-content"
										ng-if="chapter.showContent">
										<blockquote>
											{{chapter.content}}
										</blockquote>	
									</div>
									<div ng-if="chapter.entryType != 'Questline'"
										class="pull-right btn-group chapter-buttons" 
										ng-class="{'show-button': chapter.showButtons == true}">
										<button type="button" class="btn btn-warning"><span class="fa fa-pause"></span></button>
										<button type="button" class="btn btn-info"><span class="fa fa-comment"></span></button>
										<button type="button" class="btn btn-danger"><span class="fa fa-times"></span></button>
									</div>
									<div class="clearfix"></div>
								</li>
							</ul>
						</accordion-group>
					</accordion>
				</div>
			</div>
		</div>
		<div ng-show="showUnits" 
			class="animated" 
			ng-class="{fadeOutLeft: !showUnits, fadeInUp: showUnits}" 
			ng-init="showUnits=false">
			<div class="row">
				<h2 ng-init="showNewUnit=false">
					Units 
					<button type="button" class="btn btn-primary" ng-click="showNewUnit=true">
						<span class="fa fa-plus"></span>
					</button>
				</h2>
				<form class="form-inline" ng-show="showNewUnit">
					<div class="form-group">
						<input type="text" class="form-control" ng-model="newUnit.realm" placeholder="Realm">
					</div>
					<div class="form-group">
						<ui-select 
							ng-model="newUnit.land" 
							theme="select2" 
							style="width: 200px;">
							<ui-select-match placeholder="Select Land...">{{$select.selected.realm}}</ui-select-match>
							<ui-select-choices repeat="unit.realm as unit in units | propsFilter: {realm: $select.search, land: $select.search}">
								<span ng-bind-html="unit.realm | highlight: $select.search"></span>
								<smalll class="text-muted">{{unit.land}}</small>
							</ui-select-choices>
						</ui-select>
					</div>
					<button type="button" class="btn btn-default" ng-click="showNewUnit=false; saveUnit(newUnit);" ng-show="!showEditButton">Add</button>
					<button 
						type="button" 
						class="btn btn-primary" 
						ng-click="showNewUnit=false; editUnit(newUnit); showEditButton=false;" 
						ng-show="showEditButton">Save
					</button>
					<button type="button" class="btn btn-danger" ng-click="showNewUnit=false; showEditButton=false; newUnit={}">x</button>
				</form>	
			</div>
			<div class="row">
				<p ng-repeat="unit in units">
					<button 
						type="button"
						class="btn btn-link"
						ng-click="removeUnit(unit)">
						<span class="fa fa-close text-danger"></span>
					</button>
					<button 
						type="button" 
						class="btn btn-link" 
						ng-click="$parent.showNewUnit=true; $parent.newUnit=unit; $parent.showEditButton=true;">
						<span class="fa fa-users text-default"></span>&nbsp;{{unit.realm}} 
					</button>
					<span class="text-muted">{{unit.land}}</span>
				</p>
			</div>
		</div>
		<div ng-show="showPeople" 
			class="animated" 
			ng-class="{fadeOutLeft: !showPeople, fadeInUp: showPeople}" 
			ng-init="showPeople=false">
			<div class="row">
				<div class="col-md-4">
					<h2 ng-init="showNewPerson=false">
						People 
						<button type="button" class="btn btn-primary" ng-click="showNewPerson=true">
							<span class="fa fa-plus"></span>
						</button>
					</h2>
					<form class="form" ng-show="showNewPerson">
						<div class="form-group">
							<select class="form-control" ng-options="role for role in roles" ng-model="newPerson.role">
							</select>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" ng-model="newPerson.pid" placeholder="Panther ID">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" ng-model="newPerson.name" placeholder="Name">
						</div>
						<div class="form-group">
							<input type="email" class="form-control" ng-model="newPerson.email" placeholder="Email">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" ng-model="newPerson.phone" placeholder="Office Phone">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" ng-model="newPerson.mobile" placeholder="Mobile Number">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" ng-model="newPerson.location" placeholder="Location">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" ng-model="newPerson.title" placeholder="Job Title">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" ng-model="newPerson.status" placeholder="Status">
						</div>
						<div class="form-group">
							<ui-select 
								ng-model="newPerson.unit" 
								theme="select2" 
								style="width: 200px;">
								<ui-select-match placeholder="Select Realm...">{{$select.selected.realm}}</ui-select-match>
								<ui-select-choices repeat="unit._id as unit in units | propsFilter: {realm: $select.search, land: $select.search}">
									<span ng-bind-html="unit.realm | highlight: $select.search"></span>
									<smalll class="text-muted">{{unit.land}}</small>
								</ui-select-choices>
							</ui-select>
						</div>
						<button type="button" class="btn btn-default" ng-click="showNewPerson=false; savePerson(newPerson);" ng-show="!showEditButton">Add</button>
						<button 
							type="button" 
							class="btn btn-primary" 
							ng-click="showNewPerson=false; editPerson(newPerson); showEditButton=false;" 
							ng-show="showEditButton">Save
						</button>
						<button type="button" class="btn btn-danger" ng-click="showNewPerson=false; showEditButton=false; newPerson={}">x</button>
					</form>	
				</div>
			</div>
			<div class="row">
				<p ng-repeat="person in people">
					<button 
						type="button"
						class="btn btn-link"
						ng-if="person.status == 'Active'"
						ng-click="removePerson(person)">
						<span class="fa fa-close text-danger"></span>
					</button>
					<button 
						type="button" 
						class="btn btn-link" 
						ng-click="$parent.showNewPerson=true; $parent.newPerson=person; $parent.showEditButton=true;">
						<span class="fa fa-user text-default"></span>&nbsp;{{person.name}} 
					</button>
					<span class="text-muted">{{person.unit.realm}}</span>
				</p>
			</div>
		</div>
	</div>
</div>